@font-face {
  font-family: ProductSans-Regular;
  src: url('ProductSans-Regular.ttf')
  
}




body {
  color: rgb(99, 99, 99);
  height: 288px;
  width: 240px;
  margin: 0px;
  padding: 0px;
  font-family: 'ProductSans-Regular';
 
}

#main{
  background-color: #f0f1f6ff;
  margin: 0px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Dont need right now*/
  justify-content: flex-end;
}

#qrcode{
  padding: 25px;
  }
  

#download-btn{
  font-size: 35px;
  display: flex;
  align-self: flex-end;
}


#download-btn:hover{
  color: black;
}


#title{
  margin: 0px;
}
